form{
    background-color: rgb(255, 255, 255);
}
.excluir-01 {
    height: 20%;
    margin-top: 10px;
    margin-left: 60px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url('https://1.bp.blogspot.com/-iKPkeHiS_VQ/YQ5Pdg1kJOI/AAAAAAAAB18/SiCD47o8FQQI2pWEtlsQZzZQJ0sfoMt-ACLcBGAsYHQ/s1400/R-3.jpg');
    border: 0;
    border-radius: 8px;
    color: rgb(255, 255, 255);
   display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100px;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .excluir-01:active,
  .excluir-01:hover {
    outline: 0;
  }
  
  .excluir-01 span {
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .excluir-01:hover span {
    background-image: url('https://1.bp.blogspot.com/-iKPkeHiS_VQ/YQ5Pdg1kJOI/AAAAAAAAB18/SiCD47o8FQQI2pWEtlsQZzZQJ0sfoMt-ACLcBGAsYHQ/s1400/R-3.jpg');
   background: none;
   color: white;
   font-weight: bold;
  }
  
  @media (min-width: 768px) {
    .excluir-01 {
      font-size: 24px;
      min-width: 10%;
      min-height: 20%;
    }
  }